useDynLib(papss)
import(RcppEigen)
importFrom(Rcpp, evalCpp)
export(create_constant_term)
export(create_slope_term)
export(create_spike_matrix_term)
export(term_by_factor)
export(pupil_solve)
export(additive_pupil_sim)
export(h_basis)
export(plot_sim_vs_recovered)
export(bootstrap_papss_standard_error)
export(cross_val_tmax)